.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-dark {
height: 65px;
}

.extralogo img {
    width: 60px;
}
.nav-link {
    text-align: center;
}
.navbar-nav {
    padding: 0px;
}
.navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 4px solid var(--first-color);
}
.navbar-nav .nav-link {
    font-size: 14px;
    width: fit-content;
}

.nav-link.active{
    color: white !important;
    background-color: #2866a0 !important;
    border-radius: 10px !important;
}